<!DOCTYPE html>
<html>
<head>
  <title>CRUD App - Edit Item</title>
</head>
<body>
  <h1>Edit Item</h1>
  <form method="post" action="/edit/<%= item.id %>">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= item.name %>" required>
    <br>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required><%= item.description %></textarea>
    <br>
    <input type="submit" value="Update">
  </form>
  <a href="/">Back to Items List</a>
</body>
</html>
